<h1>Issues</h1>

<table class="table">
    <thead>
        <tr>
            <th>Created</th>
            <th>State</th>
            <th>Action</th>
            <th>Term</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="issue in issues track by $index" class="issue state{{issue.state}}">
            <td>{{issue.creationDate | myShortDate}}</td>
            <td ng-include="getIconURL(issue.state)"></td>
            <td>{{issue.action}}</td>
            <td>{{issue.term}}</td>
            <td><a href="#/issueDetail/{{issue.id}}" class="btn">View details</a>
            </td>
        </tr>
    </tbody>
</table>
