<h1 class="viewHeader">Issues</h1>
<!-- 
<leaflet width="auto" height="70vh"></leaflet>
<div style="height:10vh; background-color:blue"> BUTTON HOLDER </div>
-->
    <nav id="floorSelectorNav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#floorSelectorNav-collapse">
                    <span class="sr-only">Toggle navigation</span>Floors
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="floorSelectorNav-collapse">
                <ul class="nav nav-justified">
                    <li><a id="btn_floorSelector_basement" href="" ng-click="setFloorLayer('basement')" class="btn btn-default" role="button">Basement</a>
                    </li>
                    <li><a id="btn_floorSelector_ground" href="" ng-click="setFloorLayer('ground')" class="btn btn-default" role="button">Ground floor</a>
                    </li>
                    <li><a id="btn_floorSelector_first" ng-click="setFloorLayer('first')" class="btn btn-default" role="button">First floor</a>
                    </li>
                    <li><a id="btn_floorSelector_second" ng-click="setFloorLayer('second')" class="btn btn-default" role="button">Second floor</a>
                    </li>
                    <li><a id="btn_floorSelector_third" ng-click="setFloorLayer('third')" class="btn btn-default" role="button">Third floor</a>
                    </li>
                    <li><a id="btn_floorSelector_fourth" ng-click="setFloorLayer('fourth')" class="btn btn-default" role="button">Fourth floor</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!-- /col -->
<leaflet center="map.center" layers="map.layers.active" markers="map.markers.active" width="auto" height="60%"></leaflet>
<!-- Contextual actions holder -->
<div class="viewFooter">
    <div ng-show="!MapBOExports.isNotifyMode">
        <!--<button ng-click="DEBUGissuePost()">Post random issue</button>-->
        <button ng-click="DEBUGmarkersAddLayerRoomsWithElements()">Generate markers for rooms with elements</button>
        <button ng-click="DEBUGmarkersAddLayerRoomsWithCharacteristics()">Generate markers for rooms with characteristics</button>
    </div>
    <div ng-show="MapBOExports.isNotifyMode">
        <div class="pull-right">
            <button class="btn btn-danger" ng-click="MapBOExports.setIsNotifyMode(false)">Cancel</button>
            <a href="#/issueNotify" class="btn btn-success">Notify</a>
        </div>
    </div>
</div>