<form id="{{issue.view.id}}" class="issueDetail form-horizontal" role="form">

    <h3>DEBUG roomElements: {{roomElements}}</h3>
    <h3>DEBUG targetIndex: {{targetIndex}}</h3>

    <div class="form-group">
        <div class="col-sm-2">
            <h2>Incidencia</h2>
        </div>

        <div class="col-sm-10">
            <h2 ng-show="issue.view.id">{{issue.view.id}}
            </h2>
            <h2 ng-show="!issue.view.id">Notify
            </h2>
            <!-- 
            <span class="from-control issue state{{issue.view.state.value}}" ng-include="getIconURL(issue.view.state.value)"></span>
            <h2 id="issueDetailId" style="display:inline">{{issue.view.id}}
            </h2>
            -->
        </div>
    </div>

    <div class="form-group">
        <label for="{{viewId}}_issueDetailAction" class="col-sm-2 control-label">
            Accion
        </label>
        <div class="col-sm-10">
            <input ng-model="issue.models.issue.action" type="text" ng-disabled="isModeReadOnly" class="form-control {{css.inputsDisabled}}" placeholder="Acción a realizar en la incidencia">
        </div>
    </div>

    <div class="form-group">
        <label for="{{viewId}}_issueDetailTerm" class="col-sm-2 control-label">
            Objetivo
        </label>
        
        <div class="col-sm-10">
        <!--
            <input ng-model="issue.models.issue.term" type="text" ng-disabled="isModeReadOnly" class="form-control {{css.inputsDisabled}}" placeholder="Objetivo de la acción a realizar en la incidencia">
        -->
            <select class="form-control" ng-model="targetIndex">
                <option value="-1" disabled>Elija el objetivo de la incidencia</option>
                <option ng-repeat="element in roomElements track by $index" value="{{$index}}">{{element.description}}</option>
            </select>
        </div>
        
    </div>

    <div class="form-group" {{hideOnCreate}}>
        <label for="issueDetailState" class="col-sm-2 control-label">
            Estado
        </label>
        <div class="col-sm-10">
            <div class="col-sm-1">
                <span class="from-control issue state{{issue.view.state.value}}" ng-include="getIconURL(issue.view.state.value)"></span>
            </div>
            <div class="col-sm-11">
                    <input id="issueDetailState" type="text" disabled class="form-control issue state{{issue.view.state.value}}" placeholder="Estado de la incidencia" value="{{issue.view.state.text}}">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="issue.models.issue.creationDate">
        <label for="issueDetail_creationDate" class="col-sm-2 control-label">
            Creada
        </label>
        <div class="col-sm-10">
            <p id="issueDetail_creationDate" class="form-control-static">{{issue.models.issue.creationDate | myLongDateFromMiliseconds}}</p>
        </div>
    </div>

    <div class="form-group" ng-show="issue.models.issue.lastModifiedDate">
        <label for="issueDetail_lastModifiedDate" class="col-sm-2 control-label">
            Modificada
        </label>
        <div class="col-sm-10">
            <p id="issueDetail_lastModifiedDate" class="form-control-static">{{issue.models.issue.lastModifiedDate | myLongDateFromMiliseconds}}</p>
        </div>
    </div>

    <div class="form-group" ng-show="issue.view.SIGUA.headquarters.name">
        <label for="issueDetail_SIGUASede" class="col-sm-2 control-label">
            Sede
        </label>
        <div class="col-sm-10">
            <p id="issueDetail_SIGUASede" class="form-control-static">{{issue.view.SIGUA.headquarters.name}}</p>
        </div>
    </div>

    <div class="form-group" ng-show="issue.view.SIGUA.building.name">
        <label for="issueDetail_SIGUAEdificio" class="col-sm-2 control-label">
            Edificio
        </label>
        <div class="col-sm-10">
            <p id="issueDetail_SIGUAEdificio" class="form-control-static">{{issue.view.SIGUA.building.name}}</p>
        </div>
    </div>

    <div class="form-group" ng-show="issue.getFloorText()">
        <label for="issueDetail_SIGUAPlanta" class="col-sm-2 control-label">
            Planta
        </label>
        <div class="col-sm-10">
            <p class="form-control-static">{{issue.getFloorText()}}</p>
        </div>
    </div>

    <div class="form-group" ng-show="issue.view.SIGUA.room.denomination">
        <label for="issueDetail_SIGUAEstancia" class="col-sm-2 control-label">
            Estancia
        </label>
        <div class="col-sm-10">
            <p id="issueDetail_SIGUAEstancia" class="form-control-static">{{issue.view.SIGUA.room.denomination}}</p>
        </div>
    </div>

    <div class="form-group" ng-show="issue.view.SIGUA.room.activityName">
        <label for="issueDetail_SIGUAActividad" class="col-sm-2 control-label">
            Actividad
        </label>
        <div class="col-sm-10">
            <p id="issueDetail_SIGUAActividad" class="form-control-static">{{issue.view.SIGUA.room.activityName}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Lugar
        </label>
        <div class="col-sm-5">
            <div class="input-group">
                <span class="input-group-addon">Latitud</span>
                <input id="issueDetailLatitude" type="text" disabled class="form-control" placeholder="Latitud de la incidencia" value="{{issue.models.issue.latitude}}">
            </div>
        </div>
        <div class="col-sm-5">
            <div class="input-group">
                <span class="input-group-addon">Longitud</span>
                <input id="issueDetailLongitude" type="text" disabled class="form-control" placeholder="Longitud de la incidencia" value="{{issue.models.issue.longitude}}">
            </div>
        </div>

    </div>
    <div class="form-group" ng-show="isModeReadOnly" >
        <label class="col-sm-2 control-label">
            Historial
        </label>
        <div class="col-sm-10">
            <div ng-show="issue.view.events.length">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>
                                Fecha
                            </td>
                            <td>
                                Actividad
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="event in issue.view.events track by $index">
                            <td>
                                {{event.date | myShortDate }}
                            </td>
                            <td class="{{event.CSS}}">
                                {{event.typeText}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-hide="issue.view.events.length">
                <p class="form-control-static">Sin datos en el historial</p>
            </div>

        </div>
    </div>

    <div class="row" ng-show="userCan.issue.edit">
        <div class="col-sm-offset-2 col-sm-10">

            <button ng-show="isModeReadOnly" ng-click="setModeReadOnly(false)" class="btn btn-warning btn-block">Edit</button>
            <div ng-hide="isModeReadOnly" class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button ng-click="setModeReadOnly(true)" class="btn btn-danger">Cancel</button>
                </div>
                <div class="btn-group" role="group">
                    <button ng-click="issueEditConfirm()" class="submit btn btn-success">Confirm edit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="isModeNotify">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a href="#/issuesMap?notifyMode=false" class="btn btn-danger">Cancel</a>
                </div>
                <div class="btn-group" role="group">
                    <button ng-click="notifyIssue()" class="submit btn btn-success">Notificar</button>
                </div>
            </div>
        </div>
    </div>
</form>