<h1>Issues</h1>

<table class="table">
    <thead>
        <tr>
            <th>Created</th>
            <th>State</th>
            <th>Action</th>
            <th>Term</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="issueBO in issues track by $index" class="issue state{{issueBO.models.issue.state}}">
            <td>{{issueBO.models.issue.creationDate | myShortDate}}</td>
            <td ng-include="getIconURL(issueBO.models.issue.state)"></td>
            <td>{{issueBO.models.issue.action}}</td>
            <td>{{targetText[issueBO.models.issue.id]}}</td>
            <td><a href="#/issueDetail/{{issueBO.models.issue.id}}" class="btn">View details</a>
            </td>
        </tr>
    </tbody>
</table>
