<form id="{{issue.id}}" class="issueDetail form-horizontal" role="form">

    <div class="form-group">
        <div class="col-sm-2">
            <h2>Incidencia</h2>
        </div>
        <div class="col-sm-10">
            <h2 id="issueDetailId">{{issue.id}}</h2>
        </div>
    </div>

    <div class="form-group">
        <label for="{{viewId}}_issueDetailAction" class="col-sm-2 control-label">
            Accion
        </label>
        <div class="col-sm-10">
            <input id="{{viewId}}_issueDetailAction" type="text" ng-disabled="isModeReadOnly" class="form-control {{css.inputsDisabled}}" placeholder="Acción a realizar en la incidencia" value="{{issue.action}}">
        </div>
    </div>

    <div class="form-group">
        <label for="{{viewId}}_issueDetailTerm" class="col-sm-2 control-label">
            Objetivo
        </label>
        <div class="col-sm-10">
            <input id="{{viewId}}_issueDetailTerm" type="text" ng-disabled="isModeReadOnly" class="form-control {{css.inputsDisabled}}" placeholder="Objetivo de la acción a realizar en la incidencia" value="{{issue.term}}">
        </div>
    </div>

    <div class="form-group" {{hideOnCreate}}>
        <label for="issueDetailState" class="col-sm-2 control-label">
            Estado
        </label>
        <div class="col-sm-10">
            <div class="input-group">
                <span id="issueDetailStateImg" class="input-group-addon {{issue.state.CSS}}">
                            <img src="{{issue.state.icon}}">
                        </span>
                <input id="issueDetailState" type="text" disabled class="form-control {{issue.state.CSS}}" placeholder="Estado de la incidencia" value="{{issue.state.text}}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="issueDetail_SIGUASede" class="col-sm-2 control-label">
            Sede
        </label>
        <div class="col-sm-10">
            <p id="issueDetail_SIGUASede" class="form-control-static">{{issue.SIGUA.headquarters.name}}</p>
        </div>
    </div>

    <div class="form-group">
        <label for="issueDetail_SIGUAEdificio" class="col-sm-2 control-label">
            Edificio
        </label>
        <div class="col-sm-10">
            <p id="issueDetail_SIGUAEdificio" class="form-control-static">{{issue.SIGUA.building.name}}</p>
        </div>
    </div>

    <div class="form-group">
        <label for="issueDetail_SIGUAPlanta" class="col-sm-2 control-label">
            Planta
        </label>
        <div class="col-sm-10">
            <p id="issueDetail_SIGUAPlanta" class="form-control-static">{{issue.SIGUA.room.floorText}}</p>
        </div>
    </div>

    <div class="form-group">
        <label for="issueDetail_SIGUAEstancia" class="col-sm-2 control-label">
            Estancia
        </label>
        <div class="col-sm-10">
            <p id="issueDetail_SIGUAEstancia" class="form-control-static">{{issue.SIGUA.room.denomination}}</p>
        </div>
    </div>

    <div class="form-group">
        <label for="issueDetail_SIGUAActividad" class="col-sm-2 control-label">
            Actividad
        </label>
        <div class="col-sm-10">
            <p id="issueDetail_SIGUAActividad" class="form-control-static">{{issue.SIGUA.room.activityName}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Lugar
        </label>
        <div class="col-sm-5">
            <div class="input-group">
                <span class="input-group-addon">Latitud</span>
                <input id="issueDetailLatitude" type="text" disabled class="form-control" placeholder="Latitud de la incidencia" value="{{issue.latitude}}">
            </div>
        </div>
        <div class="col-sm-5">
            <div class="input-group">
                <span class="input-group-addon">Longitud</span>
                <input id="issueDetailLongitude" type="text" disabled class="form-control" placeholder="Longitud de la incidencia" value="{{issue.longitude}}">
            </div>
        </div>

    </div>
    <div class="form-group" ng-show="isModeReadOnly" >
        <label class="col-sm-2 control-label">
            Historial
        </label>
        <div class="col-sm-10">
            <div ng-show="issue.events.length">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>
                                Fecha
                            </td>
                            <td>
                                Actividad
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="event in issue.events track by $index">
                            <td>
                                {{event.date | myShortDate }}
                            </td>
                            <td class="{{event.CSS}}">
                                {{event.typeText}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-hide="issue.events.length">
                <p class="form-control-static">Sin datos en el historial</p>
            </div>

        </div>
    </div>

    <div class="row" ng-hide="isModeReadOnly">
        <div class="col-sm-offset-2 col-sm-10">
            <a class="submit btn btn-success btn-block" >Notificar</a>
        </div>
    </div>
</form>